
/* GENERAL STYLES
-------------------------------------------------*/
body {
    font-family:'Lato', sans-serif;
    font-size:1em;
    color:#777;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}

.main-container {
    width: 100%;
    height: 850px;
}


#logo {
    width: 100%;
    height: 100%;
}

.btn-primary {
    background-color: rgb(35,181,178);
    border-color: rgb(35,181,178);
}

.btn:hover {
    background-color: rgb(238,186, 76);
    border-color: rgb(238, 186, 76);

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: rgb(238,186, 76);
    border-color: rgb(238, 186, 76);
}

.dropdown-item:hover {
    background-color: rgb(238,186, 76);
}

.groupped-menu {
    margin-top: 2%;
}