/* GENERAL STYLES
-------------------------------------------------*/
body {
    font-family: 'Open Sans Condensed', sans-serif ;
    font-size: 1em;
    color: #777;
    font-weight: 300;
    line-height: 1.7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* glyphicon font*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


.cont {
    height: 100vh;
    background-color: #E4E4E4;
    // overflow: hidden;
}

.main-container {
    width: 100%;
    height: 850px;
}
main {
    position: relative;
    display: flex;
}

#logo {
    width: 100%;
    height: 100%;
}
.g-signin2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 2px;
}

.btn-primary, #signOutButton {
    background-color: rgb(35, 181, 178);
    border-color: rgb(35, 181, 178);
    color: white;
}

.btn:hover {
    background-color: rgb(238, 186, 76);
    border-color: rgb(238, 186, 76);

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, #signOutButton:hover {
    background-color: rgb(238, 186, 76);
    border-color: rgb(238, 186, 76);
}

.dropdown-item:hover {
    background-color: rgb(238, 186, 76);
}

.groupped-menu {
    margin-top: 2%;
}
#signOutButton {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 3px;
}


.card {
    background-color: white;
    width: 180px;
    height: 220px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:3px 3px 6px black;
    z-index: 1000;
}
.dropplace {
    width: 180px;
    height: 220px;
    text-align: center;
    padding: 20px 5px 20px;
    border: 4px dashed #23b5b2;
    background-color: #e4e4e4;
    box-shadow: none;
    border-radius: 5px;
}

.card-title {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    color: #23b5b2;

}

.card-text {
    text-align: center;
    color: #000;
    display: none
;
}

.card-block {
    padding: 0 0 0 0;
}


#kafle, #drag, main {
    background-color: #e4e4e4;

}
#drop {
    display: flex;
    justify-content: center;
    margin: 30px;
    overflow: hidden;
    height: 240px;
}
#dropS, #dropE {
    width: 200px;
    height: 240px;
    overflow: hidden;
    margin: 0 30px 0;
}
.card img, .miniCard img {
    max-width: 100%;
}

#infoWindow {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 0;
    height: 0;
    top: 10px;
    left: 10px;
    background-color: rgba(245, 245, 245, 1);
    transition: width 1s, height 1s;
    border: 1px solid #23b5b2;
    border-radius: 10px;
    overflow: hidden;
    color: #228481;
    text-shadow:1px 1px 10px #948c8e;
    box-shadow:3px 3px 6px black;
    z-index: 9999;
}
#infoWindow span, #routeWindow span {
    align-self: flex-end;
    padding: 0 10px 0;
}
#infoWindow h5 {
    align-self: center;
}
#infoWindow p {
    padding: 10px;
}
#infoWindow img {
    width: 40%;
    height: 40%;
    align-self: center;
}

.infoMarker {
    border-radius: 50%;
    border: none;
    background-image: url('../images/marker.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:white;
    position: absolute;
    top: 100px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#route {
    padding-left: 20px;
    width: 25%;
    height: 100%;
    background-color: #f7f7f9
}
#intro{
    width: 100%;
    height: 100%;
    background-color: #f7f7f9;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
#route ol {
    list-style-type: upper-alpha;
}
#waypointsCards {
    display: flex;
    align-items: center;
}
.miniCard{
    width: 123px;
    height: 150px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    box-shadow:1px 1px 3px black;
    background-color: white;
}
.miniCard h5 {
    font-size: medium;
}
