<div id="kafle">
    <div id="drop">
        <div id="dropS"></div>
        <div id="waypointsCards" ng-show="bc.showWaypoints"></div>
        <div id="dropE"></div>
    </div>
    <div id="drag">
        <div ng-repeat="monument in bc.monuments" class="card slider" id="{{monument.id}}" ng-click="bc.showMonumentInfo(monument.id)">
            <div class="infoMarker"></div>
            <img ng-src="{{monument.url}}"/>
            <div class="card-block">
                <h5>{{monument.name}}</h5>
            </div>
        </div>
    </div>
</div>
