.col-menu-logo {
    margin-left: 1%;
}

@media (max-width: 1080px) {
    .col-menu-logo {
        width: 98%;
    }

    .col-menu-logo img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .col-menu-buttons {
        width: 97%;
    }

    .groupped-menu {
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.col-menu-buttons {
    margin-right: 1%;
}


@media (max-width: 767px) {
    .groupped-menu {
        flex-direction: column;
    }

    .groupped-menu button {
        width: 300px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .g-signin2 {
        width: 300px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #signOutButton {
        width: 300px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}





.groupped-menu {
    display: inline-flex;
}

.dropdown {
    padding: 0 1% 0 1%;
}

.g-signin2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid transparent;*/
    border-radius: .25rem;
    padding: 1px;
    margin-right: 1%;
}


.btn-primary, #signOutButton {
    background-color: rgb(35, 181, 178);
    border-color: rgb(35, 181, 178);
    color: white;
}

.btn:hover {
    background-color: rgb(238, 186, 76);
    border-color: rgb(238, 186, 76);

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, #signOutButton:hover {
    background-color: rgb(238, 186, 76);
    border-color: rgb(238, 186, 76);
}

.dropdown-item:hover {
    background-color: rgb(238, 186, 76);
}

.groupped-menu {
    margin-top: 2%;
}
#signOutButton {
    width: 140px;
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 1%;
}